body{
    background: #ffffff;
}

[data-tab-target]{
    padding-left: 20px;

}


[data-tab-content]{
display: none;

}
#over{
    position: relataive;
    background: #ff3d67;
    color: white;
    padding: 3px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.active[data-tab-content]{
    display: block;
}
#boximg{
    width: 30px;
    height: 30px;
}
#modal-signUp{
    /* background: white; */
    width:20% !important;
    height:80% !important ;
    border-radius: 25px;
}

.calenderBox{
    position: relative;
    display: block;
   width:100%;
   height: 100%;
   /* background: red; */
   border-radius: 25px;
   border-radius: 25px 25px 25px 25px ;
}
.datesbox{
    /* display: grid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.datesbox span{
    text-align: center;
}
#monthCalnder{
    color: rgb(61, 161, 255);
    font-size: 16pt;
    text-align: center;

}


.prev-date,
.next-date {
  opacity: 0.5;
}

.weekdays{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    background-image: linear-gradient(to bottom right, rgb(154, 206, 255), rgb(61, 161, 255));
    color: #FFFF;
    text-align: center;
}

.days:not(.box_in_out){

    /* position: relative; */
    display: grid;
 left:0;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    background-color:#ffffff;
    border-radius: 0 0 25px 25px ;

        direction: rtl;
  
      
    /* grid-auto-flow: dense; NEW */
    width: 100%;
    height: 80%;
 
}

#Ils{

    /* background-image: url("img/white_ils-01.svg"); */
    /* background-size: contain; */
    object-fit: contain;
    width: 15px;
  height: 15px;
    
}
.box_in{
    
}
.haveData:hover{
    background:rgba(47, 50, 58, 0.5) !important;
    color: white !important;
    cursor: pointer !important;

}
.days div:not(.box_in_out){
    /* position: relative;
    display: inline; */
    border: white 2px solid;
    /* border-radius: 50%; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    
}

.days div:hover:not(.box_in_out){
    background:rgba(13, 16, 24, 0.5);
    color: white;
}
.month{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    background: rgb(255, 255, 255);
    border-radius: 25px 25px 0 0 ;

/* grid-template-rows: ; */
}
.month i{
    /* margin-top:25%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-signIn, #modal3{
    /* background: white; */
    width:20% !important;
    height:80% !important ;
    border-radius: 25px;
}
#googleIcon{
    width: 20px;
    height: 20px;
    top:3px;
    float: left;
}
#signinEmail, #signupEmail, #settingbtn{
    margin-top:10px;
    right:20%;
    left:20%;
    width: 60%;
    border-radius: 50px;
}
#signinGoole{
    background: white !important;
    color: black;
    top:15px;
    right:20%;
    left:20%;
    width: 60%;
    border-radius: 50px;

}
.btn, .btn-large, .btn-small, .btn-flat {
    text-transform: none !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14) !important;

}

#cashFlowtitle{
    margin-left: 10px;
}
#columnchart_material{
    width: 900px;
}
#img{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#overmas{
  
position: absolute;
left:20px;
top:60px

}
#LiquidCash,#titleCash{
    margin-left: 10px;
}
#bannerbutton{
    margin-top:30px;
position: relative;
display: block;
    height: 160px;
}

#addbtn{
    position: relative;
    display: inline-block;
    left: 0;
        height:30px;
        width: 30px;
        left:20px;
        /* bottom: 7px; */
}
#settingbtn{
  
    width: 100px;
}

#addloan{
    background: none !important;
    position: relative;
display: inline-block;
left: 0;
    height:30px;
    width: 30px;
    left:20px;
    /* bottom: 7px; */
}
#minusbtn{
position: relative;
display: inline-block;
left: 0;
    height:30px;
    width: 30px;
    left:20px;
    /* bottom: 7px; */
    }

   #setting{
    background-color:#ff3d67 !important;
    top:15px;
    position: relative;
    display: inline-block;
    left: 0;
        height:30px;
        width: 30px;
        left:20px;
        bottom: 7px;
    }

    #userDatabox{
        position: absolute;
        display: inline-block;
   
        /* width: 300px;
        height: 300px; */
    }



#IncomingCash,#statusIconsincoming{
    color :#50dd50 ;
}
#outcomingCash, #statusIconsoutcoming{
    color :#ff3d67 ;
}
#titleCash ,#LiquidCash,#IncomingCash,#outcomingCash{
    font-size: 16pt;
    /* /* position: absolute; */
    display: inline-block; 
    /* text-align: right;
    margin-top: 0 !important; */
}
/* #details{

    right: 0px;
    width: 340px;
    padding: 10px;
   
} */


#datesBox{
    grid-template-columns: 70% 15% 15%;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    padding: 20px;
}  
#over{
    font-size: 8pt;
}
/* #datesBox{
    position: absolute;
   top:-20px !important;
} */
#startDateTitle,#endDateTitle{
    font-size: 8pt !important;
}
#btnBitweenDates{
    position: relative;

    top:20px !important;
    left: 80px !important;
}
#table_Main{
    position: relative;
    /* display: inline-block; */
    top:20px ;
}
#chooseView{
    position: relative;
right:15px;
    top:-13px !important;
    bottom: 50px;
    display: inline-block;
}
#bitweenDates{
    display: none;
    top:10px !important;
    /* background: rgb(243, 243, 243) !important; */
    height: 80px !important;
}
#chooseDates{
border-radius: 25px 25px 0 0;
    position: relative;
    top:20px;
    height: 50px;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    
}
h5{
    /* position: absolute;
    display: inline-block; */
    /* text-align: left; */
}




#Tableview{
    display: none;
}
#weeklydata{
    position: relative;
    display: inline-block;
    width: 30%;
    height: 240px;
    top:50px;
}


#table{
    position: absolute;
    display: inline;
    width: 100%;
    height: 30px;
/* background: rgb(158, 103, 103); */
}





 

#spanTitle{
    position: relative;
    display: block;
    background:#ff3d67;
    color: white;
    font-size: 10pt;
    /* top:-15px; */
    bottom: -30px;
    /* vertical-align: auto; */
    /* padding: 2px; */
    padding:5px;
    border-radius: 50px 50px 50px 50px;
    font-weight: bold;
    left:5px;
    height: 25px;
    /* width: 200px; */
     
  
}

.typeTitle{
    font-size: 8pt !important;
}
nav .brand-logo {
    position: relative !important;
    
}

#TitleLimit{
position: relative;
display: inline-block;
float: right;
margin-right:110px;

}

#TitleCreditLimit{
    position: relative;
    display: inline-block; 
    font-size: 18px;
    width: 100%;
color:rgb(68, 68, 68);
    text-align: center;
}
/* #balance, #outcoming , #incoming , #Status{
    left:30%;
    right:30%;
    width:40%;
    top: 25%;
    height: 50%;
    bottom: 25%;
    font-size: 25px;
    position: relative;
    display: inline-block;
    text-align: center;
    color: white;

} */
#infoUser{

    width: 99%;
}
#creditinput{
width: 50px !important;
}
#flowin, #creditinputOut, #creditinput, #flowOut{
    width: 50px !important;
}
#FlowBoxOut{
    display: none;
}
#creditboxOut{
    display: none;
}
#FlowBox{
    display: none;
}

#creditbox {
    display: none;
    /* width: 100px !important; */
}

#Status, #incoming, #outcoming, #balance{

    /* position: relative;
    display: inline-block;
   width: 60%;
   left: 20%;
   right: 20%;
   text-align: center;
    /* right: 30%; */
/* font-size: 18pt;
    top:25%;
    bottom: 25%;
    font-weight: 500;  */
}
#setIncomeAndOut{
    position: relative;
    top:50px;
    height: 400px;
    background: white;
    box-shadow: 0px 2px 7px -3px rgba(117, 117, 117, 0.568);

}


#setInOutTitle{
    position: relative;
    top:20px;
    /* text-align:right !important; */
}
#title{
    position: relative;
    height: 34%;
    width: 100%;
/* background: cornflowerblue; */
}
#iconaddSetting{
    position: relative !important;
    /* display: inline-block !important; */
    font-size: 19px;
    left: 0 !important;
 
}
#lablcheck_box{
    z-index: 1500 !important;
}
tbody,tr:checked{
    /* background: red !important; */
}
#optionOut,  .dropdown-content{
    max-height:400px !important;
}
.datepicker-modal{
    width: 100% !important;
  /* height: 100% !important;  */
}
.delteicons{
    color: #cfd8dc !important;
}
.delteicons:hover{
    color: #585b5c !important;
}
/* #btnaddsetting{
    /* position: absolute !important; 
    width:30px !important;
    height: 30px !important;
} */
/* #btnaddsetting{
    font-size: 12px;
} */
#modal3,#modal2,#modal1,#modal4, #modal-Search{
    max-height: 100% !important;
    height: 80% !important;
    border-radius: 25px !important;
   /* max-height: 100% !important; */
   /* max-width: 40% !important; */
}
/* #typeOut{
    display: none;
} */
.check_box{
    z-index: 1200 !important;
}
#outNew{
    display: none;
}
#addExpandBtn{
    color: white !important;
}
#export:hover{
    color: rgba(117, 117, 117, 0.568);
    cursor: pointer;
}

.red{
    color:#ff3d67 !important;
}
/* button{
    width:130px !important;
    
} */
/* .datepicker-container{
    width: 100% !important;
} */
#chartLoan{

    /* width: 65%; */
    /* background-color: #ff3d67 !important; */
    height: 20%;
}

#logOut{
    text-align: center;
    color: #22242A !important;
}
#logOut:hover{
    color:rgb(61, 161, 255) !important;
}
#userUrl{
    position: relative;
    display:block;
    /* z-index: 1005; */
    width: 30px !important;
    height: 30px !important;
    background: rgb(32, 32, 32);
    padding: 2px;
    border-radius: 50%;
  right: 0;
}
#boximg{
    position: relative;
    top:25%;
    cursor: pointer;
    right: 2px;
}
#box_title_app{
    width: 100%;
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    top:25%;
    text-align: center;
}
.inlineNav:hover{
    color: blue;
}
#menu{
    position: absolute;
    top:68px;
    width: 10%;
    background: rgb(248, 248, 248);
    right: 15%;
    box-shadow: 0px 2px 7px -3px rgba(117, 117, 117, 0.568);
    padding: 15px;
}
#textUser{
    position: absolute;
    color: black;
    top: 70%;
    font-weight: 800;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn, .btn-large, .btn-small {

    background-color: #50dd50 !important;
}

/* cashBeforeAfter */

#imgUser{
      position: relative;
      display:inline-block;
      width: 20px !important;
      height: 20px !important;
 
}

#BodyBoxSta, #BodyBoxInc, #BodyBoxOut, #BodyBoxBal{
    position: relative;
    width: 100%;
    height: 66%;
    background: rgb(240, 240, 240);
}
rect[Attributes Style] {
    fill:none;
}

#divider{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width:100%;
    height: 3px;
    background: rgb(230, 230, 230);
}

#dual_x_div{
    top:150px;
    width: 100%;
}
#BodyBoxOut{
    color: #ff3d67;
    font-weight: 700;
 
}
#BodyBoxInc{
    color: #50dd50;
    font-weight: 700;
}
.newSubRow{
background: rgb(250, 250, 250);
}
.newRow:hover{
background: rgb(241, 241, 241) !important;
cursor: pointer;
}
#boxCorrectCash{
    padding: 20px;
     margin-left: 4%; 
    /*bottom: 10%; */
    top:10%;
    width: 20%;
    height:150px;
    background: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    box-shadow: 0px 2px 7px -3px rgba(117, 117, 117, 0.568);
}


#expendsTotal{
    padding: 20px;
     margin-left: 4%;
   /* bottom: 10%; */
    top:10%;
    width: 20%;
    height:150px;
    background: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    box-shadow: 0px 2px 7px -3px rgba(117, 117, 117, 0.568);
}


#IncomingTotal{
    padding: 20px;
     margin-left: 4%;
    /*bottom: 10%; */
    top:10%;
    width: 20%;
    height:150px;
    background: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    box-shadow: 0px 2px 7px -3px rgba(117, 117, 117, 0.568);
}
#bannerDashboard{
    position: relative;
    display: inline-block;
}




#Bllance{
    padding: 20px;
    /* margin-left: 4%;
    bottom: 10%; */
    top:10%;
    width: 20%;
    height:150px;
    background: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    box-shadow: 0px 2px 7px -3px rgba(117, 117, 117, 0.568);
}
    


.spanNum{
    background:#ff3d67;
    position: absolute;
    display: inline;
    padding: 5px;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 9pt;
    line-height: 10px;
   margin-left: 20px;
}

#addbtn{
    background-color: #50dd50 !important;
}

#minusbtn{
    background-color: #ff3d67 !important;
}


[type="radio"]:checked+span:after,[type="radio"].with-gap:checked+span:after {
    background-color: grey !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid grey !important;
}


#conditionPay, #typeOfPay,#conditionPaySub, #typeOfPaySub{
    font-size: 9pt !important;
}